<h1 class="pageheadings">About Us</h1>
<%- include('header.ejs') %>
<p id="orgBio"><%= orgBio.info %></p>
<div class="team-container">
    <h2>Meet the Community Team</h2>
    <% team.forEach(member => { %>

    <h3 class = 'team-member'><%= member.name %> <%= member.surname %></h3>
    <img src="<%= member.image %>" alt="">
    <p class = 'member-bio'><%= member.bio %></p>

    <% }) %>
</div>
