<%- include('../partials/header.ejs') %>
<br>
<h1 class="pageheadings">Welcome to the Community Portal</h1>

<p id="welcomeMessage"><%= homeData.welcomeMessage %></p>

<div>
    <h2 id="eventsTitle"><%= homeData.eventsTitle %></h2>
    <div class="events-container">
        <% homeData.sortedUpcomingEvents.forEach((event, index) => { %>
            <% if (index % 2 != 1) { %>
                <div class="left-sideEvent">
                    <h3><%= event.title %></h3>
                    <p>Date: <%= event.date%></p>
                    <p>Location: <%= event.location %></p>
                    <p><%= event.description %></p>
                    <img src="<%= event.image %>" alt="">
                </div>
            <% } else { %>
                <div class="right-sideEvent">
                    <h3><%= event.title %></h3>
                    <p>Date: <%= event.date%></p>
                    <p>Location: <%= event.location %></p>
                    <p><%= event.description %></p>
                    <img src="<%= event.image %>" alt="">
                </div>
            <% } %>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer.ejs') %>