<!DOCTYPE html>
<html>
<head>
    <title>Thankyou</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <br>
    <h1 class="pageheadings">Thank you</h1>       
        <p>Thanks for getting in touch!</p>
        <p>User: <%= data.name %>, sent message: <%= data.message %></p>
        <p>We will respond to: <%= data.email %></p>

        <%- include('../partials/footer.ejs') %>
</body>
</html>
